
<div class="container">
    <div class="row h-100 w-100 justify-content-center align-items-center">
      <form class="col-12">
        <div class="card">
            <div class="card-head text-center">
                <h1>WELCOME</h1>
            </div>
            <div class="card-body text-center">
                <div class="row text-center">
                        <div class="col">
                            <a routerLink="/create" routerLinkActive="active" ariaCurrentWhenActive="page" class="w-75 btn btn-success mb-3">Create</a>
                        <button routerLink="/notes" routerLinkActive="active" ariaCurrentWhenActive="page"  class="w-75 btn btn-primary">New</button>
                        </div>
                    
                </div>
            </div>
        </div>
      </form>   
    </div>
  </div>